 @import "tailwindcss/base";
@import "./custom-base-styles.css";

@import "tailwindcss/components";
@import "./custom-components.css";

@import "tailwindcss/utilities";
@import "./custom-utilities.css";

@layer base{
html{
-ms-text-size-adjust:100%;
-webkit-text-size-adjust:100%;
}
body{
@apply m-0;
}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{
@apply block;
}
summary{
@apply list-item;
}
audio,canvas,progress,video{
@apply inline-block;
}
progress{
@apply align-baseline;
}
audio:not([controls]){
@apply hidden;
@apply	h-0;
}
[hidden],template{
@apply	hidden;
}
a{
@apply	bg-transparent;
}
a:active,a:hover{
@apply outline-0;
}
abbr[title]{
border-bottom:none;
@apply underline decoration-dotted;
}
b,strong{
@apply font-bold;
}
dfn{
@apply italic;
}
mark{
@apply bg-amber-300 ;
color:#000;
}
small{
font-size:80%;
}
sub,sup{
font-size:75%;
line-height:0;
@apply relative align-baseline;
}
sub{
bottom:-0.25em;
}
sup{
top:-0.5em;
}
figure{
margin:1em 40px;
}
img{
@apply border-none;
}
code,kbd,pre,samp{
font-family:monospace,monospace;
font-size:1em;
}hr{
@apply box-content h-0 overflow-visible;
}
button,input,select,textarea,optgroup{font:inherit;
@apply margin-0;
}
optgroup{
@apply font-bold;
}
button,input{
@apply overflow-visible;}button,select{
@apply normal-case;
}
button,[type=button],[type=reset],[type=submit]{
-webkit-appearance:button;
}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{
@apply border-none p-0;
}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{
outline:1px dotted ButtonText;
}
fieldset{
@apply border border-solid border-gray-500; margin: 0 2px;
padding:.35em .625em .75em;
}
legend{
color:inherit;
@apply table max-w-full p-0 whitespace-normal;
}
textarea{
@apply overflow-auto;
}
[type=checkbox],[type=radio]{
@apply p-0;
}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{
@apply h-auto;
}
[type=search]{
-webkit-appearance:textfield;
outline-offset:-2px;
}
[type=search]::-webkit-search-decoration{
-webkit-appearance:none;
}
::-webkit-file-upload-button{
-webkit-appearance: button;
font:inherit;
}
iconify-icon {
   display: inline-block;
   width: 1em;
   height: 1em;
}
}
